
<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>{{ .Site.Title }}</title>
	<meta name="description" content="Miguel is a Full Stack Developer who helps startups to create and take your MPV to the next level.">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon-32x32.png">

    <!-- STYLESHEETS -->
    

	<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" media="all">
	<link rel="stylesheet" href="css/all.min.css" type="text/css" media="all">
	<link rel="stylesheet" href="css/simple-line-icons.css" type="text/css" media="all">
	<link rel="stylesheet" href="css/slick.css" type="text/css" media="all">
	<link rel="stylesheet" href="css/simplebar.css" type="text/css" media="all">
	<link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css" type="text/css" media="all">
	{{/*  <link rel="stylesheet" href="css/style.css" type="text/css" media="all">  */}}

	{{ .Site.IsServer }}
	{{ $options := (dict "outputStyle" "compressed" "enableSourceMap" true) }}
	{{ $styles := resources.Get "css/main.scss" | toCSS $options | fingerprint }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" type="text/css" media="all">

	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- preloader -->
<div id="preloader">
	<div class="outer">
		<div class="spinner">
			<div class="dot1"></div>
			<div class="dot2"></div>
		</div>
	</div>
</div>

<!-- site wrapper -->
<div class="site-wrapper">

	<!-- mobile header -->
	<div class="mobile-header py-2 px-3 mt-4">
		<button class="menu-icon mr-2">
			<span></span>
			<span></span>
			<span></span>
		</button>
		<a href="index.html" class="logo"><img src="images/me_round_80.png" alt="Acevedo, Miguel Angel" /></a>
		<a href="index.html" class="site-title dot ml-2">Miguel</a>
	</div>

	<!-- header -->
	<header class="left float-left shadow-dark" id="header">
		<button type="button" class="close" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<div class="header-inner d-flex align-items-start flex-column">
			<a href="index.html"><img src="images/me_round_80.png" alt="Acevedo, Miguel Angel" /></a>
			<a href="index.html" class="site-title dot mt-3">Miguel</a>
			<span class="site-slogan">Senior Software Engineer</span>
			
			<!-- navigation menu -->
			<nav>
				<ul class="vertical-menu scrollspy">
					<li><a href="#home" class="active"><i class="icon-home"></i>Home</a></li>
					<li><a href="#about"><i class="icon-user"></i>About</a></li>
					<li><a href="#certifications"><i class="icon-trophy"></i>Certifications</a></li>
					<li><a href="#services"><i class="icon-bulb"></i>Services</a></li>
					<li><a href="#resume"><i class="icon-grid"></i>Resume</a></li>
					<li><a href="#contact"><i class="icon-phone"></i>Contact</a></li>
				</ul>
			</nav>
			
			<!-- footer -->
			<div class="footer mt-auto">

				<!-- social icons -->
				<ul class="social-icons list-inline">
					<li class="list-inline-item"><a href="https://www.linkedin.com/in/acevedomiguel/"><i class="fab fa-linkedin"></i></a></li>
					<li class="list-inline-item"><a href="mailto:{{ $.Site.Params.email }}"><i class="fab icon-envelope"></i></a></li>
				</ul>

			</div>
		</div>
	</header>

	<!-- main content area -->
	<main class="content float-right">

		<!-- section hero -->
		<section class="hero background parallax shadow-dark d-flex align-items-center" id="home">
			<div class="cta mx-auto mt-2">
				<h1 class="mt-0 mb-4">I’m Miguel<span class="dot"></span></h1>
				<p class="mb-4">Miguel is a Fullstack Developer who helps startups to create and take your MPV to the next level.</p>
				<p class="mb-4">Before starting a development business, Miguel worked 16 years as a Developer and Lead Programmer in south america and asia. After a successful career helping tech companies and entrepreneurs, Miguel now lead them on how to plan, develop and run online products.</p>
				<a href="#" class="btn btn-default btn-lg mr-3"><i class="icon-cloud-download"></i>Download CV</a>
				<div class="spacer d-md-none d-lg-none d-sm-none" data-height="10"></div>
				<a href="#contact" class="btn btn-border-light btn-lg"><i class="icon-envelope"></i>Hire me</a>
			</div>
			<div class="overlay"></div>
		</section>

		<!-- section about -->
		<section id="about" class="shadow-blue white-bg padding">
			<h3 class="section-title">About Me</h3>
			<div class="spacer" data-height="80"></div>

			<div class="row">
				<div class="col-md-3">
					<img src="images/nolynk-square.jpg" alt="about" />
				</div>
				<div class="col-md-9">
					<h2 class="mt-4 mt-md-0 mb-4">Hello,</h2>
					<p class="mb-0">I am Bako Doe, web developer from London, United Kingdom. I have rich experience in web site design and building and customization, also I am good at wordpress. I am Bako Doe, web developer from London, United Kingdom. I have rich experience in web site design and building and customization, also I am good at wordpress. I am Bako Doe, web developer from London, United Kingdom. I have rich experience in web site design and building and customization, also I am good at wordpress. I am Bako Doe, web developer from London, United Kingdom. I have rich experience in web site design and building and customization, also I am good at wordpress. I am Bako Doe, web developer from London, United Kingdom. I have rich experience in web site design and building and customization, also I am good at wordpress.</p>
					<div class="row my-4">
						<div class="col-md-6">
							<p class="mb-2">Name: <span class="text-dark">Acevedo, Miguel Angel</span></p>
							<p class="mb-2">Location: <span class="text-dark">Hong Kong, HK</span></p>
							
						</div>
						<div class="col-md-6 mt-2 mt-md-0 mt-sm-2">
							<p class="mb-0">Email: <span class="text-dark">{{ $.Site.Params.email }}</span></p>
						</div>
					</div>
					<a href="#" class="btn btn-default mr-3"><i class="icon-cloud-download"></i>Download CV</a>
					<a href="#contact" class="btn btn-alt mt-2 mt-md-0 mt-xs-2"><i class="icon-envelope"></i>Hire me</a>
				</div>
			</div>
		</section>

		<!-- section certifications -->
		<section id="certifications" class="shadow-blue white-bg padding">
			<h3 class="section-title">My skills</h3>
			<div class="spacer" data-height="80"></div>
			
			<p class="mb-0">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>

			<div class="row mt-5">

				<div class="col-md-6">
					<!-- skill item -->
					<div class="skill-item">
						<div class="skill-info clearfix">
							<h4 class="float-left mb-3 mt-0">WordPress</h4>
							<span class="float-right">85%</span>
						</div>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="85">
							</div>
						</div>
						<div class="spacer" data-height="50"></div>
					</div>
				</div>

				<div class="col-md-6">
					<!-- skill item -->
					<div class="skill-item">
						<div class="skill-info clearfix">
							<h4 class="float-left mb-3 mt-0">HTML & CSS</h4>
							<span class="float-right">90%</span>
						</div>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="90">
							</div>
						</div>
						<div class="spacer" data-height="50"></div>
					</div>
				</div>

				<div class="col-md-6">
					<!-- skill item -->
					<div class="skill-item">
						<div class="skill-info clearfix">
							<h4 class="float-left mb-3 mt-0">jQuery</h4>
							<span class="float-right">60%</span>
						</div>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="60">
							</div>
						</div>
						<div class="spacer d-md-none d-lg-none" data-height="50"></div>
					</div>
				</div>

				<div class="col-md-6">
					<!-- skill item -->
					<div class="skill-item">
						<div class="skill-info clearfix">
							<h4 class="float-left mb-3 mt-0">Sketch</h4>
							<span class="float-right">70%</span>
						</div>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="70">
							</div>
						</div>
					</div>
				</div>

			</div>
		</section>

		<!-- section facts -->
		<section id="facts" class="shadow-dark color-white background parallax padding-50" data-image-src="images/background-1.jpg">

			<div class="row relative z-1">
				<div class="col-md-3 col-sm-6">
					<!-- fact item -->
					<div class="fact-item text-center">
						<i class="icon-like icon-circle"></i>
						<h2 class="count">157</h2>
						<span>Projects completed</span>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<!-- fact item -->
					<div class="fact-item text-center">
						<i class="icon-cup icon-circle"></i>
						<h2 class="count">2765</h2>
						<span>Cup of coffee</span>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<!-- fact item -->
					<div class="fact-item text-center">
						<i class="icon-emotsmile icon-circle"></i>
						<h2 class="count">350</h2>
						<span>Happy customers</span>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<!-- fact item -->
					<div class="fact-item text-center">
						<i class="icon-trophy icon-circle"></i>
						<h2 class="count">29</h2>
						<span>Awards won</span>
					</div>
				</div>
			</div>
			
			<div class="overlay"></div>

		</section>

		<!-- section services -->
		<section id="services" class="shadow-blue white-bg padding">
			<h3 class="section-title">Services</h3>
			<div class="spacer" data-height="80"></div>

			<div class="row">

				<div class="col-md-4 col-sm-6">
					<!-- service item -->
					<div class="service-item text-center">
						<i class="icon-globe icon-simple"></i>
						<h4 class="my-3">Development</h4>
						<p class="mb-0">Lorem ipsum dolor sit amet consectetuer elit.</p>
					</div>
					<div class="spacer" data-height="20"></div>
				</div>

				<div class="col-md-4 col-sm-6">
					<!-- service item -->
					<div class="service-item text-center">
						<i class="icon-chemistry icon-simple"></i>
						<h4 class="my-3">Design</h4>
						<p class="mb-0">Lorem ipsum dolor sit amet consectetuer elit.</p>
					</div>
					<div class="spacer" data-height="20"></div>
				</div>

				<div class="col-md-4 col-sm-6">
					<!-- service item -->
					<div class="service-item text-center">
						<i class="icon-directions icon-simple"></i>
						<h4 class="my-3">Advertising</h4>
						<p class="mb-0">Lorem ipsum dolor sit amet consectetuer elit.</p>
					</div>
					<div class="spacer" data-height="20"></div>
				</div>

				<div class="col-md-4 col-sm-6">
					<!-- service item -->
					<div class="service-item text-center">
						<i class="icon-rocket icon-simple"></i>
						<h4 class="my-3">SEO</h4>
						<p class="mb-0">Lorem ipsum dolor sit amet consectetuer elit.</p>
					</div>
					<div class="spacer d-md-none d-lg-none" data-height="20"></div>
				</div>

				<div class="col-md-4 col-sm-6">
					<!-- service item -->
					<div class="service-item text-center">
						<i class="icon-note icon-simple"></i>
						<h4 class="my-3">Copy Write</h4>
						<p class="mb-0">Lorem ipsum dolor sit amet consectetuer elit.</p>
					</div>
					<div class="spacer d-md-none d-lg-none" data-height="20"></div>
				</div>

				<div class="col-md-4 col-sm-6">
					<!-- service item -->
					<div class="service-item text-center">
						<i class="icon-bubbles icon-simple"></i>
						<h4 class="my-3">Support</h4>
						<p class="mb-0">Lorem ipsum dolor sit amet consectetuer elit.</p>
					</div>
				</div>

			</div>
		</section>

		<!-- section experience -->
		<section id="resume" class="shadow-blue white-bg padding">
			<h3 class="section-title">Experience</h3>
			<div class="spacer" data-height="80"></div>

			<!-- timeline -->
			<div class="timeline">
				<div class="entry">
					<div class="title">
						<span>Feb 2020 - Present</span>
					</div>
					<div class="body">
						<h4 class="mt-0 mb-0 position">Devops - Senior Software Engineer</h4>
						<h4 class="mt-1 company">ExaLeap <small>(Hong Kong)</small></h4>
						<p>
							<span class="badge badge-dark">Node.js</span>
							<span class="badge badge-dark">Scala</span>
							<span class="badge badge-dark">Kafka</span>
							<span class="badge badge-dark">Postgres</span>
							<span class="badge badge-dark">Redis</span>
							<span class="badge badge-dark">AWS</span>
							<span class="badge badge-dark">Kubernetes</span>
							<span class="badge badge-dark">Jenkins</span>
							<span class="badge badge-dark">Bitbucket</span>
						</p>
					</div>
				</div>
	
				<div class="entry">
					<div class="title">
						<span>Jun 2018 - Present</span>
					</div>
					<div class="body">
						<h4 class="mt-0 mb-0 position">IoT Specialist - Senior Software Engineer</h4>
						<h4 class="mt-1 company">Cereb Intelligence <small>(Hong Kong)</small></h4>
						<p>Accelerating the realisation of automated IoT smart scenes.We are the enabler of IoT, Cereb Intelligence Platform – B2B cloud platform forcross-brand IoT device integration and scene creation.</p>
						<p>I manage the Azure Kubernetes platform, Jenkins CI pipeline and later themigration to AWS EKS and Bitbucket Pipelines. Creating services in Node.js tointegrate IoT APIs, now in study for migration from Node.js to Go.Defining guidelines for overall architecture and messaging flowimplementation, continuous integration and automated test.</p>
						<p>device integration and scene creation.I manage the Azure Kubernetes platform, Jenkins CI pipeline and later themigration to AWS EKS and Bitbucket Pipelines. Creating services in Node.js tointegrate IoT APIs, now in study for migration from Node.js to Go.Defining guidelines for overall architecture and messaging flowimplementation, continuous integration and automated test.
							<ul>
								<li>IoT Hardware integration with the company system</li>
								<li>Architecture planning for scalable and high availability services</li>
								<li>Plan and deploy infrastructure, AWS EKS, Kafka</li>
								<li>Coding service consumer, data processor and rules engine in node.js andgolang</li>
								<li>Integrating with 3rd party API (Lifesmart, Softhard.io, Salto Access, SMSgateway, Dingtalk, Telegram Bot, Slack Bot)• End to End test, stress test, performance test</li>
								<li>System Administration and MonitoringNode.js,</li>
							</ul>
						</p>
						<p>
							<span class="badge badge-dark">Mongo</span>
							<span class="badge badge-dark">Redis</span>
							<span class="badge badge-dark">Kubernetes</span>
							<span class="badge badge-dark">AWS</span>
							<span class="badge badge-dark">Jenkins</span>
							<span class="badge badge-dark">GitLab</span>
							<span class="badge badge-dark">Bitbucket</span>
							<span class="badge badge-dark">Pipelines</span>
							<span class="badge badge-dark">Elastic Stack</span>
							<span class="badge badge-dark">RabbitMQ</span>
							<span class="badge badge-dark">Kafka</span>
							<span class="badge badge-dark">Node.js</span>
						</p>
					</div>
				</div>

				<div class="entry">
					<div class="title">
						<span>Sep 2019 - Feb 2020</span>
					</div>
					<div class="body">
						<h4 class="mt-0 mb-0 position">IoT - Senior Software Engineer</h4>
						<h4 class="mt-1 company">KM.ON by KARL MAYER <small>(Hong Kong)</small></h4>
						<p>To establish KM.ON as the leading provider of digitalization for the textile
							industry by responding to customers' difficulties and needs. Furthermore, we
							want to predict and automate their daily production.
							<ul>
								<li>Industrial Sensors research, analysis and feasibility study</li>
								<li>Industrial machines “retro-fit” proposal</li>
								<li>Cloud integration with AWS</li>
								<li>Front end programming with React</li>
							</ul>
						</p>
						<p>
							<span class="badge badge-dark">AWS</span>
							<span class="badge badge-dark">Scala</span>
							<span class="badge badge-dark">React.js</span>
							<span class="badge badge-dark">Redux</span>
						</p>
					</div>
				</div>

				<div class="entry">
					<div class="title">
						<span>Apr 2019 - Aug 2019</span>
					</div>
					<div class="body">
						<h4 class="mt-0 mb-0 position">Senior Software Engine</h4>
						<h4 class="mt-1 company">Urban Spring <small>(Hong Kong)</small></h4>
						<p>
							<ul>
								<li>Contributing to the data specifications (MQTT messages and DB Schema)</li>
								<li>Coding in Python the tool for device provisioning to AWS IoT Core (Things,Certs, Policies and Shadow)</li>
								<li>Infrastructure as code, Kubernetes deployment with terraform</li>
								<li>Designing tests</li>
								<li>Mentoring junior devs</li>
								<li>Firmware code review from 3rd party developers (C - C++) for STM32• Python scripting for Raspberry Pi for cloud integration (AWS)</li>
							</ul>
						</p>
						<p>
							<span class="badge badge-dark">Python</span>
							<span class="badge badge-dark">PostgreSQL</span>
							<span class="badge badge-dark">AWS</span>
							<span class="badge badge-dark">Kubernetes</span>
							<span class="badge badge-dark">AWS IoT</span>
							<span class="badge badge-dark">MQTT</span>
						</p>
					</div>
				</div>

				<div class="entry">
					<div class="title">
						<span>Nov 2016 - Jan 2018</span>
					</div>
					<div class="body">
						<h4 class="mt-0 mb-0 position">Product Architect</h4>
						<h4 class="mt-1 company">LYNK <small>(Hong Kong)</small></h4>
						<p>Lynk connects people with time-sensitive and business-critical questions to a curated community of 35,000+ experts.</p>
						<p>As a senior developer, I was in appointed to educate the lesser senior team members good coding conduct like continuous integration, error tracking, reporting and fixing, documentation, code styling
						<p>I applied some basic Scrum techniques to keep the tracking of requirements and development progress</p>
						<p>My main development was Skype-like application based on React, Node.js, Mongo DB and Twilio as a media server provider, keeping tracking of the consultation time, progress and later invoicing.</p>
						<p>As an effort to help the company to implement Machine Learning I spend time leaning Python and Tensor Flow, I was not directly involved in the ML team but the company was open for different perspectives to improve the experts filtering and search.</p>
						<p>Also contribute with the Internal system development optimizing the search engine, overall performance, bug fixing and features improvements.</p>
						<p>
							<ul>
								<li>Managing developers and resources</li>
								<li>Establishing good software practices</li>
								<li>Designing/architecting API design</li>
								<li>Managing infrastructure</li>
								<li>Build out DevOps / CI pipeline</li>
								<li>Contributing to overall business development</li>
							</ul>
						</p>
						<p>
							<span class="badge badge-dark">Node.js</span>
							<span class="badge badge-dark">React.js</span>
							<span class="badge badge-dark">Redux</span>
							<span class="badge badge-dark">Web RTC</span>
							<span class="badge badge-dark">Mongo</span>
							<span class="badge badge-dark">AWS</span>
						</p>
					</div>
				</div>


				<div class="entry">
					<div class="title">
						<span>May 2016 - Oct 2016</span>
					</div>
					<div class="body">
						<h4 class="mt-0 mb-0 position">Product Architect</h4>
						<h4 class="mt-1 company">Launchpilots <small>(Hong Kong)</small></h4>
						<p>Launchpilots is a campus influencer platform that help brands activate their campus customers by sponsoring influential student leaders and societies.</p>
						<p>
							<ul>
								<li>Work with grow team to identify data needs,</li>
								<li>Social network integration,</li>
								<li>Interface building, Metric and KPI analysis.</li>
								<li>Helping on marketing and grow initiatives, email marketing and new clients acquisition.</li>
							</ul>
						</p>
						<p>Because of my extensive experience on social media development I was designated to train the team on app development, better KPI definitions and tracking.</p>
						<p>
							<span class="badge badge-dark">Ruby on Rails</span>
							<span class="badge badge-dark">Sails</span>
							<span class="badge badge-dark">Facebook API</span>
							<span class="badge badge-dark">Instagram Scrapping</span>
							<span class="badge badge-dark">AWS</span>
							<span class="badge badge-dark">GitHub</span>
							<span class="badge badge-dark">Grunt</span>
						</p>
					</div>
				</div>

				<div class="entry">
					<div class="title">
						<span>Jan 2009 - Dec 2015</span>
					</div>
					<div class="body">
						<h4 class="mt-0 mb-0 position">CTO and Co-Founder</h4>
						<h4 class="mt-1 company">Kaizen Interactive <small>(Argentina - Mexico)</small></h4>
						<p>Kaizen is a digital marketing solution agency based in Argentina, specialized in integrated marketing strategies:</p>
						<p>
							<ul>
								<li>Facebook Apps, Mobile-web and Social Media Strategy.</li>
								<li>Investigation and Development, Project Management,</li>
								<li>Social Media Strategy and Analysis, Participant in new Ideas and Applications,</li>
								<li>New Technologies Analysis</li>
								<li>Team Management.</li>
								<li>Business development,</li>
								<li>Functional Analysis.</li>
							</ul>
						</p>
						<p>As a CTO, I was managing up to 15 remote developers and designers, my hands-on was on the sever side, designing the API endpoints and taking care of the server’s uptime and real-time reports.</p>
						<p>Assisting to client meetings like Panasonic Latin America, and Yellow Pages Mexico for system requirements documentation, ideas brainstorming and new proposals.</p>
						<p>Several of the Facebook Apps where developer in extreme timelines, 2 to 3 weeks from kickoff meeting to live deployments, this added to user cross-reference gives birth to NetNet Social as a tool for our clients, with full reception between the main clients.</p>
						<p>
							<span class="badge badge-dark">PHP</span>
							<span class="badge badge-dark">JavaScript</span>
							<span class="badge badge-dark">Facebook API</span>
							<span class="badge badge-dark">jQuery</span>
							<span class="badge badge-dark">MySQL</span>
							<span class="badge badge-dark">Gulp</span>
							<span class="badge badge-dark">Gulp</span>
							<span class="badge badge-dark">VPS Admin</span>
							<span class="badge badge-dark">Postgres</span>
							<span class="badge badge-dark">Bitbucket</span>
						</p>
					</div>
				</div>

				<div class="entry">
					<div class="title">
						<span>Jan 2012 - Dec 2012</span>
					</div>
					<div class="body">
						<h4 class="mt-0 mb-0 position">Remote Mobile Programmer</h4>
						<h4 class="mt-1 company">Kaizen Interactive <small>(Argentina)</small></h4>
						<p>Gravity Makers provides the necessary services to create, communicate and successfully distribute mobile apps.</p>
						<p>
							<ul>
								<li>Nokia development</li>
								<li>Technical Analysis,</li>
								<li>Coding and testing on the different devices,</li>
								<li>Reporting and Delivery.</li>
							</ul>
						</p>
						<p>
							<span class="badge badge-dark">QT</span>
							<span class="badge badge-dark">JavaScript</span>
							<span class="badge badge-dark">Symbian.</span>
						</p>
					</div>
				</div>

				<div class="entry">
					<div class="title">
						<span>May 2007 - Dec 2009</span>
					</div>
					<div class="body">
						<h4 class="mt-0 mb-0 position">Team Leader and ActionScript Expert</h4>
						<h4 class="mt-1 company">United Virtualities <small>(Argentina)</small></h4>
						<p></p>
						<p>
							<span class="badge badge-dark">ActionScript</span>
							<span class="badge badge-dark">JavaScript</span>
						</p>
					</div>
				</div>

				<div class="entry">
					<div class="title">
						<span>Aug 2004 - May 2007</span>
					</div>
					<div class="body">
						<h4 class="mt-0 mb-0 position">Team Leader and ActionScript Programmer</h4>
						<h4 class="mt-1 company">Evolution <small>(Argentina)</small></h4>
						<p></p>
						<p>
							<span class="badge badge-dark">ActionScript</span>
							<span class="badge badge-dark">JavaScript</span>
							<span class="badge badge-dark">ASP</span>
							<span class="badge badge-dark">JavaMe</span>
						</p>
					</div>
				</div>

				<div class="entry">
					<div class="title">
						<span>May 2003 - Aug 2004</span>
					</div>
					<div class="body">
						<h4 class="mt-0 mb-0 position">Programmer and Server Administrator</h4>
						<h4 class="mt-1 company">Marketing Plus <small>(Argentina)</small></h4>
						<p></p>
						<p>
							<span class="badge badge-dark">ActionScript</span>
							<span class="badge badge-dark">JavaScript</span>
							<span class="badge badge-dark">PHP</span>
							<span class="badge badge-dark">JavaMe</span>
							<span class="badge badge-dark">MSSQL</span>
						</p>
					</div>
				</div>

				<div class="entry">
					<div class="title">
						<span>Nov 2001 - May 2003</span>
					</div>
					<div class="body">
						<h4 class="mt-0 mb-0 position">Web Developer Internship</h4>
						<h4 class="mt-1 company">Gauchito <small>(Argentina)</small></h4>
						<p></p>
						<p>
							<span class="badge badge-dark">ASP</span>
							<span class="badge badge-dark">CNC</span>
						</p>
					</div>
				</div>

				<span class="timeline-line"></span>
			</div>
		</section>

		<!-- section contact -->
		<section id="contact" class="shadow-blue white-bg padding">
			<h3 class="section-title">Get in touch</h3>
			<div class="spacer" data-height="80"></div>

			<div class="row">
				
				<div class="col-md-6 mb-4 mb-md-0">
					<!-- contact info -->
					<div class="contact-info mb-5">
						<i class="icon-phone"></i>
						<div class="details">
							<h5>Phone</h5>
							<span>{{ $.Site.Params.phone }}</span>
						</div>
					</div>
					
					<div class="contact-info">
						<i class="icon-location-pin"></i>
						<div class="details">
							<h5>Location</h5>
							<span>{{ $.Site.Params.address }}</span>
						</div>
					</div>
				</div>

				<div class="col-md-6">
					<div class="contact-info mb-5">
						<i class="icon-envelope"></i>
						<div class="details">
							<h5>Email address</h5>
							<span>{{ $.Site.Params.email }}</span>
						</div>
					</div>
				</div>

			</div>

		</section>
		
	</main>

</div>

<!-- Go to top button -->
<a href="javascript:" id="return-to-top"><i class="fa fa-chevron-up"></i></a>

<!-- SCRIPTS -->
<script src="js/jquery-1.12.3.min.js"></script>
<script src="js/jquery.easing.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/jquery.counterup.min.js"></script>
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/isotope.pkgd.min.js"></script>
<script src="js/infinite-scroll.min.js"></script>
<script src="js/imagesloaded.pkgd.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/contact.js"></script>
<script src="js/validator.js"></script>
<script src="js/custom.js"></script>

</body>
</html>