
<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>{{ .Site.Title }}</title>
	<meta name="description" content="Miguel is a Full Stack Developer who helps startups to create and take your MPV to the next level.">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon-32x32.png">

    <!-- STYLESHEETS -->
    

	<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" media="all">
	<link rel="stylesheet" href="css/all.min.css" type="text/css" media="all">
	<link rel="stylesheet" href="css/simple-line-icons.css" type="text/css" media="all">
	{{/*  <link rel="stylesheet" href="css/style.css" type="text/css" media="all">  */}}

	{{/*  {{ .Site.IsServer }}  */}}
	{{ $options := (dict "outputStyle" "compressed" "enableSourceMap" true) }}
	{{ $styles := resources.Get "css/main.scss" | toCSS $options | fingerprint }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" type="text/css" media="all">

	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- preloader -->
<div id="preloader">
	<div class="outer">
		<div class="spinner">
			<div class="dot1"></div>
			<div class="dot2"></div>
		</div>
	</div>
</div>

<!-- site wrapper -->
<div class="site-wrapper">

	<!-- mobile header -->
	<div class="mobile-header py-2 px-3 mt-4">
		<button class="menu-icon mr-2">
			<span></span>
			<span></span>
			<span></span>
		</button>
		<a href="index.html" class="logo"><img src="images/me_round_80.png" alt="Acevedo, Miguel Angel" /></a>
		<a href="index.html" class="site-title dot ml-2">Miguel</a>
	</div>

	<!-- header -->
	<header class="left float-left shadow-dark" id="header">
		<button type="button" class="close" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<div class="header-inner d-flex align-items-start flex-column">
			<a href="index.html"><img src="images/me_round_80.png" alt="Acevedo, Miguel Angel" /></a>
			<a href="index.html" class="site-title dot mt-3">Miguel</a>
			<span class="site-slogan">Senior Software Engineer</span>
			
			<!-- navigation menu -->
			<nav>
				<ul class="vertical-menu scrollspy">
					<li><a href="#home" class="active"><i class="icon-home"></i>Home</a></li>
					<li><a href="#about"><i class="icon-user"></i>About</a></li>
					<li><a href="#experience"><i class="icon-grid"></i>Experience</a></li>
					<li><a href="#certifications"><i class="icon-trophy"></i>Certifications</a></li>
					<li><a href="#contact"><i class="icon-phone"></i>Contact</a></li>
				</ul>
			</nav>
			
			<!-- footer -->
			<div class="footer mt-auto">

				<!-- social icons -->
				<ul class="social-icons list-inline">
					<li class="list-inline-item"><a href="https://www.linkedin.com/in/acevedomiguel/"><i class="fab fa-linkedin"></i></a></li>
					<li class="list-inline-item"><a href="mailto:{{ $.Site.Params.email }}"><i class="fab icon-envelope"></i></a></li>
				</ul>

			</div>
		</div>
	</header>

	<!-- main content area -->
	<main class="content float-right">

		<!-- section hero -->
		<section class="hero background parallax shadow-dark d-flex align-items-center" id="home">
			<div class="cta mx-auto mt-2">
				<h1 class="mt-0 mb-4">I’m Miguel<span class="dot"></span></h1>
				<p class="mb-4">Miguel is a Fullstack Developer who helps startups to create and take your MPV to the next level.</p>
				<p class="mb-4">Before starting a development business, Miguel worked 16 years as a Developer and Lead Programmer in south america and asia. After a successful career helping tech companies and entrepreneurs, Miguel now lead them on how to plan, develop and run online products.</p>
				<a href="{{ $.Site.Params.cvFile }}" class="btn btn-default btn-lg mr-3"><i class="icon-cloud-download"></i>Download CV</a>
				<div class="spacer d-md-none d-lg-none d-sm-none" data-height="10"></div>
				<a href="#contact" class="btn btn-border-light btn-lg"><i class="icon-envelope"></i>Hire me</a>
			</div>
			<div class="overlay"></div>
		</section>

		<!-- section about -->
		<section id="about" class="shadow-blue white-bg padding">
			<h3 class="section-title">About Me</h3>
			<div class="spacer" data-height="80"></div>

			<div class="row">
				<div class="col-md-3">
					<img src="images/nolynk-square.jpg" alt="about" />
				</div>
				<div class="col-md-9">
					<!-- <h2 class="mt-4 mt-md-0 mb-4">Hello,</h2>
					<p class="mb-0">I'm Miguel Acevedo, Senior Software Engineer with entrepreneur spirit. More than 18 years of experience coding, managing projects, resources and clients.</p> -->
					<div class="row my-4">
						<div class="col-md-6">
							<p class="mb-2">Name: <span class="text-dark">Acevedo, Miguel Angel</span></p>
							<p class="mb-2">Location: <span class="text-dark">Hong Kong, HK</span></p>
							
						</div>
						<div class="col-md-6 mt-2 mt-md-0 mt-sm-2">
							<p class="mb-0">Email: <span class="text-dark">{{ $.Site.Params.email }}</span></p>
						</div>
					</div>
					<a href="{{ $.Site.Params.cvFile }}" class="btn btn-default mr-3"><i class="icon-cloud-download"></i>Download CV</a>
					<a href="#contact" class="btn btn-alt mt-2 mt-md-0 mt-xs-2"><i class="icon-envelope"></i>Hire me</a>
				</div>
			</div>
		</section>

		<!-- section experience -->
		<section id="experience" class="shadow-blue white-bg padding">
			<h3 class="section-title">Experience</h3>
			<div class="spacer" data-height="80"></div>

			<!-- timeline -->
			<div class="timeline">

				{{ range $.Site.Data.experience }}
				{{ partial "experience.html" . }}
				{{ end }}

				<span class="timeline-line"></span>
			</div>
		</section>

		<!-- section certifications -->
		<section id="certifications" class="shadow-blue white-bg padding">
			<h3 class="section-title">Certifications</h3>
			<div class="spacer" data-height="80"></div>

			<div class="card mb-3">
				<div class="card-body">
				  <h5 class="card-title">LPI Linux Essentials Certification</h5>
				  <h6 class="card-subtitle mb-2 text-muted">Linux Academy</h6>
				  <p class="card-text">Issued May 2020 - Credential Identifier 339546</p>
				  <a href="https://linuxacademy.com/profile/u/cert/id/339546" class="card-link">See credential</a>
				</div>
			</div>

			<div class="card mb-3">
				<div class="card-body">
				  <h5 class="card-title">Deploying to AWS with Ansible and Terraform</h5>
				  <h6 class="card-subtitle mb-2 text-muted">Linux Academy</h6>
				  <p class="card-text">Issued Apr 2020 - Credential Identifier 314027</p>
				  <a href="https://linuxacademy.com/profile/u/cert/id/314027" class="card-link">See credential</a>
				</div>
			</div>


			<div class="card mb-3">
				<div class="card-body">
				  <h5 class="card-title">DevOps Essentials</h5>
				  <h6 class="card-subtitle mb-2 text-muted">Linux Academy</h6>
				  <p class="card-text">Issued Oct 2019 - Credential Identifier 170168</p>
				  <a href="https://linuxacademy.com/profile/u/cert/id/170168" class="card-link">See credential</a>
				</div>
			</div>

		</section>


		<!-- section contact -->
		<section id="contact" class="shadow-blue white-bg padding">
			<h3 class="section-title">Get in touch</h3>
			<div class="spacer" data-height="80"></div>

			<div class="row">
				
				<div class="col-md-6 mb-4 mb-md-0">
					<!-- contact info -->
					<div class="contact-info mb-5">
						<i class="icon-phone"></i>
						<div class="details">
							<h5>Phone</h5>
							<span>{{ $.Site.Params.phone }}</span>
						</div>
					</div>
					
					<div class="contact-info">
						<i class="icon-location-pin"></i>
						<div class="details">
							<h5>Location</h5>
							<span>{{ $.Site.Params.address }}</span>
						</div>
					</div>
				</div>

				<div class="col-md-6">
					<div class="contact-info mb-5">
						<i class="icon-envelope"></i>
						<div class="details">
							<h5>Email address</h5>
							<span>{{ $.Site.Params.email }}</span>
						</div>
					</div>
				</div>

			</div>

		</section>
		
	</main>

</div>

<!-- Go to top button -->
<a href="javascript:" id="return-to-top"><i class="fa fa-chevron-up"></i></a>

<!-- SCRIPTS -->
<script src="js/jquery-1.12.3.min.js"></script>
<script src="js/jquery.easing.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!-- 
<script src="js/popper.min.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/imagesloaded.pkgd.min.js"></script> -->
<script src="js/custom.js"></script>

</body>
</html>